.App {
  width: 90%;
  margin: 5%;
  background: white;
  border-radius: 10px;
  padding: 40px;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h5 {
  font-weight: 800;
  line-height: 17px;
  color: #3461A5;
  margin: 20px 0 10px;
  font-size: 15px;
}

.footer {
  text-align: center;
  color: #838383;
  width: 100%;
  font-size: 12px;
}

.btn-outline-primary {
  font-size: 14px !important;
}

.card {
  border-radius: 10px !important;
}
/* ------------------ keyword --------------------------- */
.keyword-div {
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 18px;
  /* identical to box height */
  padding: 30px;
}

.exclaim {
  border-radius: 50%;
  border: 2px solid #0053D0;
  color: #0053D0;
  padding: 0 6px;
  font-size: 15px;
  cursor: pointer;
}

.keyword-div input {
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
  margin: 5px 0 10px;
  width: 100%;
}

.keyword-div input:focus {
  outline: none;
}

.keyword-table {
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 5px !important;
  margin: 10px 0;
  padding: 20px;
  overflow: auto;
  height: 300px;
}

.keyword-table th, .keyword-table td {
  border: none !important;
}

.keyword-div .search-btn {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 2;
  height: 40px;
  width: 100px;
  background: #0053D0;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 600;
}

.keyword-div .search-btn:focus {
  outline: none;
}

.keyword-div .search-btn:active {
  background: #3d77cf;
}

/* ------------------- Copy -------------------------- */
.copy-btn {
  background: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(194, 194, 194, 0.35);
  border-radius: 3px;
  color: #0053D0;
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  transition: 0.3s all;
  margin-right: 20px;
}

.copy-btn:hover {
  color: #0053D0;
  background: #edf3fc;
}

.copy-btn.active {
  background: #0053D0;
  color: white;
}

.copy-btn:active {
  background: #cde1ff;
}

.copy-btn:focus{
  outline: none;
}

input {
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
}

input:focus {
  outline: none;
}

/*---------------- Generated copies ------------------ */
.card-deck {
  background: #E5E5E5;
  margin: 0 -40px 30px;
  padding: 40px;
}